.abt-container{
    text-align: center;   
    padding-top: 40px;
}

.abt-container h2{
    margin-top: 40px;
    margin-bottom: 40px;
    color: black;
    font-size:40px;
    font-weight: bold;
}

.abt-container p{
    margin: 0px 300px;
    margin-bottom: 30px;
}

.abt-container h4{
    margin-top: 40px;
    margin-bottom: 20px;
    color: black;
    font-weight: bold;
}

.abt-container img{
    margin-bottom: 40px;
    width: 400px;
}

.abt-text{
    margin: 0 270px 50px;
    
}