.marginTop {
  margin-top: 100px;
  height: 100vh;
  /* background-color: seagreen; */
  margin-left: auto;
  padding: 0;
  /* margin-right: 100px; */
}

.toMiddle {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
