
.editprofile-container{
    width: 100%;
    height: 100%;
    position: relative;
}

.editprofile-headerbg{
    background-image:url('../../images/registertop.jpg');
    width: 100%;
    height: 100%;
    min-height: 60vh;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
}

.editprofile-formcontainer{
    margin-top: 150px;
    margin-left: 300px;
    margin-right: 300px;
    background-color: white;
    height: 100%;
    
}

@media (max-width:600px){
    .editprofile-formcontainer{
        margin-top: 150px;
        margin-left: 20px;
        margin-right: 20px;
        background-color: white;
        height: 100%;
    }
}