* {
  padding: 0;
  margin: 0;
}
.myCartText {
  font-size: 30px;
  font-family: "sanfransiscobold";
}
.containerCartHeader {
  height: fit-content;
  margin-top: 5px;
  background-color: #f3f3f3;
}
.flexboxHeader {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid black;
  height: 86px;
}
.boxHeader {
  width: 1000px;
  display: flex;
  justify-content: space-between;
}
.pointsBox {
  align-self: flex-end;
  font-size: 20px;
  font-family: "sanfransiscobold";
}
.contentWrapper {
  display: flex;
  justify-content: center;
  width: 100vh;
  height: fit-content;
  margin-left: 100px;
  margin-right: 100px;
}
.contentBox {
  width: 750px;
  height: fit-content;

  display: flex;
  flex-direction: column;
}
.titleContent {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}
.paragraph1 {
  font-family: "sanfransisco";
  font-size: 20px;
  margin-top: 50px;
}
.paragraph {
  font-family: "sanfransisco";
  font-size: 20px;
  margin-top: 40px;
}
