* {
  padding: 0;
  margin: 0;
}
.marginTop {
  /* margin-top: 100px; */
  height: "500px";
  background-color: seagreen;
  font-family: "sanfransisco";
  margin-left: 0;
  padding: 0;
}
.container {
}
.rewardDescription {
  height: 20vh;

  /* background-color: whitesmoke; */
}
.rewardDescriptions {
  height: 20vh;
  background-color: white;
}

.boxtoMiddle {
  width: 600px;
  /* background-color: whitesmoke; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.colorHelp {
  color: #9ac84a;
  font-family: "sanfransiscobold";
  font-size: 27px;
}
.descriptionText {
  font-family: "sanfransisco";
  color: black;
  font-size: 20px;
  margin-top: 10px;
}

.RowReward {
  height: 50vh;
  margin-bottom: 15px;
  background-color: #3797a4;
}
.flexDir {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  color: whitesmoke;
  /* background-color: whitesmoke; */
}
.descBox {
  width: 500px;
  font-family: "sanfransisco";
  font-size: 20px;
}
.redeemBox {
  font-family: "sanfransiscobold";
  font-size: 30px;
}
.pointBox {
  font-family: "sanfransiscobold";
  font-size: 20px;
}
.BoxMiddle {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid salmon; */
  background-color: whitesmoke;
  /* margin: 1px 0 1px 0; */
}
