

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&display=swap');

/* HOME CSS */

.a{
    color: inherit;
}


.headermenu{
    display: flex;
}



.headerhomeimg{
    background-image: 
        url('https://2.bp.blogspot.com/-UxmovzvzXiI/Tq7JLXvkhOI/AAAAAAAAAUA/4iRb1Bv2qbE/s1600/Recycle.jpg');
    width: 100%;
    height: 100%;
    min-height: 90vh;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
    opacity: 0.8;
}

.headerhometext{
    padding-top: 160px;
    position: relative; 
    width:100%;
    color: white;
    font-size:60px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    z-index: 2;
    opacity: 1;
    padding-bottom: 50px;
}

.headersearch-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-left: 20%;
    padding-right: 20%;
    opacity: 1;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.headersearch-item.satu{
    border-width: 1px;
    border-style: solid;
    border-color: blue;
}

.buttonsearch{
    margin-top: 30px;
    width: 150px;
    height: 40px;
    background-color: #9ac84a;
    color: white;
    opacity: 1;
}


.headerhometext2{
    display: flex;
    padding-top: 30px;
    color: #9ac84a;
    font-size:20px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    z-index: 9999;
    justify-content: center;
}

.headerhometext3{
    width: 140px;
}

.headerhometext3:hover{
    color: #677e40;
}

@media (max-width:600px){
    .headersearch-container{
        flex-direction: column;
        text-align: center;
        box-sizing: border-box;
    }
}


/* // HEADER BODY SATU + DUA */

.headerbody-container{
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
}

.headerbodytext{
    padding-top: 50px;
    padding-bottom: 50px;
    width:100%;
    color: black;
    font-size:40px;
    text-align: center;
    /* border-color: white;
    border-style: solid;
    border-width: 1px; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}

.headerbodytext2{
    padding-top: 50px;
    padding-bottom: 20px;
    width:100%;
    color: black;
    font-size:40px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.bodytext{
    padding-left:25%;
    padding-right:25%;
    padding-bottom: 10px;
    font-size:23px;
    text-align: center;
}

.icontext{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 17px;
    font-weight: bold;
}

.icontext2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: rgb(68, 67, 67);
}

.headerbodyicon-container{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
}

@media (max-width:600px){
    .bodytext{
        padding-left:5%;
        padding-right:5%;
        padding-bottom: 10px;
        font-size:23px;
        text-align: center;
    }
}


/* CAROUSEL */

.carousel-container{
    width: 100; 
    height: 75vh; 
    display: flex;
    flex-direction:row;    
}

.carousel-image{
    width: 50%;
    box-sizing: border-box;
}

.carouseltext-container{
    width: 50%;
    background-color:#9ac84a;
}

.carouseltext-header{
    padding: 20px;
    font-size: 25px; 
    color:white; 
    letter-spacing: 0.4px;
    font-weight:bold;
}


.carouseltext-body{
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    font-size: 20px;
}

@media (max-width:600px){
    .carousel-container{
        flex-direction:column;    
    }
}