.headernavlink{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #929392;
    letter-spacing: 1,5px;
}

.headermenu-container{
    position: absolute; 
    display: flex; 
    flex-direction: row; 
    text-align: center;
    margin-left:70%;
    background-color:#9ac84a;
    z-index:9; 
    padding: 5px;
}

.headermenu-item{
    padding-top: 10px; 
    padding-bottom: 10px; 
    width: 120px; 
    color: white; 
    font-family: Lato ; 
    border-right-color: white;
    border-right-style: solid;
    border-right-width: 1px;
}

.headermenu-itemlast{
    padding-top: 10px; 
    padding-bottom: 10px; 
    width: 120px; 
    color: white; 
    font-family: Lato ;
}


.search-container{
    display: flex;
    flex-direction: column;
    margin: 0px 40px;
    height: 35px;
}

@media (max-width:600px){
    .headersearch-container{
        flex-direction: column;
        text-align: center;
        box-sizing: border-box;
    }

    .search-container{
    display: flex;
    flex-direction: column;
    margin: 0px 40px;
    height: 35px;  
    }
    
    .headermenu-container{
        position: absolute; 
        display: flex; 
        flex-direction: row; 
        text-align: center;
        margin-left:25%;
        background-color:#9ac84a;
        z-index:9; 
        padding: 5px;
    }
}