.containers {
  display: flex;
  flex-direction: column;
  background-color: "black";
  background-size: cover;
  width: 100%;
  margin-top: 100px;
  background-color: white;
}

/* TABLE CSS */
.contenttable {
  border-collapse: collapse;
  font-size: 0.9em;
  width: 80%;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.contenttable thead tr {
  background-color: #9ac84a;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.contenttable th,
.contenttable td {
  padding: 12px 15px;
}

.contenttable tbody tr {
  border-bottom: 1px solid #dddddd;
}

.contenttable tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.contenttable tbody tr:last-of-type {
  border-bottom: 2px solid #9ac84a;
}

/* END TABLE CSS */

/* MANAGE USER */
.manageUser {
  text-align: center;
  justify-content: center;
  align-items: center;
  color: black;
  margin-top: 100px;
}

.table_container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}
.table_search_filter {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-bottom: 0;
  margin-bottom: 10px;
}

.table_box {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.buttonRed {
  background-color: #ff6961;
  color: black;
  border-radius: 10px;
  text-decoration: none;
}

@media only screen and (max-width: 980px) {
  .containers {
    margin-top: 0;
  }
}
