
*{
  padding: 0;
  margin: 0;
}
/* Small Screen */
@media only screen and (max-width: 600px) {
  .register-right-container{
    text-align: center;
    padding-top: 0 !important;
  }
}
 
/* Large Screen */
@media only screen and (min-width: 600px) {
  
}
/* ============= */
/*    REGISTER   */
/* ============= */

.register-container{
  overflow: hidden;
}

.register-top{
  height: 80vh;
  background-image: url('./images/registertop.jpg');
  background-size: cover;
  
}

.register-middle{
  background-color: #e4e4e4;
}

.form-container{
  padding: 5% !important;
}

.form-relative{
  padding: 10% !important;
}

.form-header{
  color: #3797a4;
}

.register label{
  
  font-size: 1.2em;
  color: #25656d;
  padding-left: 1% !important;
  text-transform: uppercase;
}

label span{
  color: red;
  font-weight: bold;
}

/* ================ */
/*    COMPONENTS    */
/* ================ */

.styled-button{
  background-color:#3797a4;
  color: white;
  border:none;
  font-weight:300; 
  padding:0 5% 0 5%;
  height:48px;
  width:fit-content
}

.styled-button:hover {
  background-color: #25656d !important;
}

/* Search Input CSS */
.active-pink-4 input[type="text"]:focus:not([readonly]) {
  border: 1px solid #3797a4;
  box-shadow: 0 0 0 1px #3797a4;
}
.active-pink-3 input[type="text"] {
  border: 1px solid #3797a4;
  box-shadow: 0 0 0 1px #3797a4;
}

/* PAGINATION COLOR */
.color_pagination{
  color: white !important;
  background-color: black;
}


