
*{
  padding: 0;
  margin: 0;
}

@media only screen and (max-width: 600px) {
  .register-right-container{
    text-align: center;
    padding-top: 0 !important;
  }
}

/* ============= */
/*    REGISTER   */
/* ============= */

.register-container{
  overflow: hidden;
}

.register-top{
  height: 80vh;
  background-image: url('./images/registertop.jpg');
  background-size: cover;
}

.register-middle{
  background-color: #e4e4e4;
}

.form-container{
  padding: 5% !important;
}

.form-relative{
  padding: 10% !important;
}

.form-header{
  color: #3797a4;
}

.register label{
  font-size: 1.2em;
  color: #25656d;
  padding-left: 1% !important;
  text-transform: uppercase;
}

.form-header span{
  color: red;
  font-weight: bold;
}

/* ============= */
/*      LOGIN    */
/* ============= */

.error-message{
  background-color: rgba(247, 151, 151, 0.479);
  border: 1px solid rgba(233, 88, 88, 0.808);
  border-radius: 2px;
  width: fit-content;
  padding: 2%;
  font-size: 0.9em;
  margin-bottom: 4%;
  color: #030005c9;
}

/* ================ */
/*    COMPONENTS    */
/* ================ */

.styled-button{
  background-color:#3797a4;
  color: white;
  border:none;
  font-weight:300; 
  padding:0 5% 0 5%;
  height:48px;
  width:fit-content
}

.styled-button:hover {
  background-color: #25656d !important;
}

/* ================ */
/*    EMAILVERIFY   */
/* ================ */

.emailverify-top{
  height: 50vh;
  background-image: url('./images/registertop.jpg');
  background-size: cover;
}

.emailverify-container{
  height: 100vh;
  overflow: hidden;
  background-color: #e4e4e4;
  
}

.emailverify-box{
  background-color: white;
  margin: 0 auto;
  height: fit-content;
  width: fit-content;
  -webkit-box-shadow: 0px 0px 35px -17px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 35px -17px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 35px -17px rgba(0,0,0,0.75);
}

.go-back-link{
  color: #007bff !important;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s;
  text-transform: none;
  letter-spacing: normal;
  margin: 0 0;
  padding: 0 0;
}

.go-back-link:hover{
  color: #007bff !important;
  background-color: unset;
  font-weight: 400;
}

/* ================ */
/*      NOTFOUND    */
/* ================ */

#notfound {
  position: relative;
  height: 100vh;
  background: #030005;
}

#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.notfound {
  max-width: 767px;
  width: 100%;
  line-height: 1.4;
  text-align: center;
}

.notfound .notfound-404 {
  position: relative;
  height: 180px;
  margin-bottom: 20px;
  z-index: -1;
}

.notfound .notfound-404 h1 {
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50% , -50%);
      -ms-transform: translate(-50% , -50%);
          transform: translate(-50% , -50%);
  font-size: 224px;
  font-weight: 900;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: -12px;
  color: #030005;
  text-transform: uppercase;
  text-shadow: -1px -1px 0px #8400ff, 1px 1px 0px #ff005a;
  letter-spacing: -20px;
}

.notfound .notfound-404 h2 {
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  left: 0;
  right: 0;
  top: 110px;
  font-size: 42px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 0px 2px 0px #8400ff;
  letter-spacing: 13px;
  margin: 0;
}

.notfound-link {
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
  text-transform: uppercase;
  color: #ff005a;
  text-decoration: none;
  border: 2px solid;
  background: transparent;
  padding: 10px 40px;
  font-size: 14px;
  font-weight: 700;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.notfound-link:hover {
  color: #8400ff;
}

@media only screen and (max-width: 767px) {
    .notfound .notfound-404 h2 {
        font-size: 24px;
    }
}

@media only screen and (max-width: 480px) {
  .notfound .notfound-404 h1 {
      font-size: 182px;
  }
}
/* Search Input CSS */
.active-pink-4 input[type="text"]:focus:not([readonly]) {
  border: 1px solid #3797a4;
  box-shadow: 0 0 0 1px #3797a4;
}
.active-pink-3 input[type="text"] {
  border: 1px solid #3797a4;
  box-shadow: 0 0 0 1px #3797a4;
}

/* PAGINATION COLOR */
.color_pagination{
  color: white !important;
  background-color: black;
}
