:root {
  --main-bg-color: rgb(255, 255, 255);
  --main-green-color:  #9ac84a;
  --main-tosca-color: #688830;
  --main-grey-color: #abacad;
  --main-blue-color: #13686b;
}

* {
  padding: 0;
  margin: 0;
}

/* Small Screen */
@media only screen and (max-width: 600px) {
  .register-right-container {
    text-align: center;
    padding-top: 0 !important;
  }

  .program-top-title {
    font-size: 1.2em;
  }

  .program-top-subtitle {
    font-size: 0.9em;
  }
  .manage_transaksi_button {
    font-size: 12px;
  }
}

/* Large Screen */
@media only screen and (min-width: 600px) {
}
/* ============= */
/*    REGISTER   */
/* ============= */

.register-container {
  overflow: hidden;
}

.register-top {
  height: 80vh;
  background-image: url("./images/registertop.jpg");
  background-size: cover;
}

.register-middle {
  background-color: #e4e4e4;
}

.form-container {
  padding: 5% !important;
}

.form-relative {
  padding: 10% !important;
}

.form-header {
  color: #3797a4;
}

.register label {
  font-size: 1.2em;
  color: #25656d;
  padding-left: 1% !important;
  text-transform: uppercase;
}

.form-header span {
  color: red;
  font-weight: bold;
}

/* ============= */
/*      LOGIN    */
/* ============= */

.error-message {
  background-color: rgba(247, 151, 151, 0.479);
  border: 1px solid rgba(233, 88, 88, 0.808);
  border-radius: 2px;
  width: fit-content;
  padding: 2%;
  font-size: 0.9em;
  margin-bottom: 4%;
  color: #030005c9;
}

/* ================ */
/*    COMPONENTS    */
/* ================ */

.styled-button {
  background-color: var(--main-green-color);
  color: white;
  border: none;
  font-weight: 300;
  padding: 0 5% 0 5%;
  height: 48px;
  width: fit-content;
}

.styled-button:hover {
  background-color: var(--main-tosca-color) !important;
}

/* ================ */
/*    EMAILVERIFY   */
/* ================ */

.emailverify-top {
  height: 50vh;
  background-image: url("./images/registertop.jpg");
  background-size: cover;
}

.emailverify-container {
  height: 100vh;
  overflow: hidden;
  background-color: #e4e4e4;
}

.emailverify-box {
  background-color: white;
  margin: 0 auto;
  height: fit-content;
  width: fit-content;
  -webkit-box-shadow: 0px 0px 35px -17px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 35px -17px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 35px -17px rgba(0, 0, 0, 0.75);
}

.go-back-link {
  color: #007bff !important;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s;
  text-transform: none;
  letter-spacing: normal;
  margin: 0 0;
  padding: 0 0;
  background-color: transparent;
  height: unset;
}

.go-back-link:hover {
  color: #007bff !important;
  background-color: unset;
  font-weight: 400;
}

/* ================ */
/*   PROGRAMPAGE    */
/* ================ */

.program-page-container {
  overflow: hidden;
}

.program-top-container {
  height: 60vh;
  margin: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.program-top-title {
  text-align: center;
  margin-bottom: 5vh;
}

.program-top-subtitle {
  margin: 0 auto;
  width: 50vw;
}

.program-bottom-container {
  /* height: 100vh; */
  background-color: #e4e4e4;
}

.searchbar-container {
  height: 20vh;
}

.input-group.md-form.form-sm.form-2 input.lime-border {
  border: 1px solid var(--main-green-color);
  height: 48px;
  background-color: white;
}

.input-group-text {
  background-color: var(--main-green-color) !important;
  height: 7vh;
  border: 1px solid var(--main-green-color);
}

.program-picture {
  width: 100%;
  height: 250px;
  margin: 0 auto;
  /* margin: 20px 0 20px 0 ; */
}

.program-card-bottom {
  text-decoration: none;
  color: var(--main-green-color);
  margin-bottom: 2%;
  height: 48px;
  font-size: 1.2em;

}

.program-card-bottom:hover {
  color: var(--main-blue-color);
}

.program-price {
  color: black;
  /* background-color: var(--main-green-color); */
  height: 40px;
  line-height: 40px;
  padding: 0 2%;
  border-radius: 3px;
  /* width: fit-content; */
  font-size: 0.9em;
  font-weight: bold;
}

.program-reward {
  color: black;
  /* background-color: rgb(216, 188, 62); */
  height: 40px;
  line-height: 40px;
  padding: 0 2%;
  border-radius: 3px;
  font-size: 0.8em;
  /* width: fit-content; */
}

.program-reward {
  color: black;
  /* background-color: rgb(216, 188, 62); */
  height: 40px;
  line-height: 40px;
  padding: 0 2%;
  border-radius: 3px;
  font-size: 0.8em;
  /* width: fit-content; */
}

.program-card-filter-container{
  margin: 2% 0 0 0;
}

.product-card{
  height: 380px !important;
}

.category-name{
  color: var(--main-green-color);
  font-weight: bold;
}

.sort-container {
  padding: 0 4%;
}

/* ================= */
/*   PROGRAMDETAIL   */
/* ================= */

.program-detail-container {
  /* height: 100vh; */
  overflow: hidden;
  /* background-color: #e4e4e4; */
}
.program-detail-top {
  height: 70vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./images/registertop.jpg");
  background-size: cover;
  margin: 0 auto;
}

/* ================= */
/*   JOIN PROGRAM    */
/* ================= */
.join-program-container {
  /* height: 100vh; */
  overflow: hidden;
  background-color: #e4e4e4;
}

.join-program-box {
  background-color: white;
  margin: 0 auto;
  height: fit-content;
  width: fit-content;
  -webkit-box-shadow: 0px 0px 35px -17px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 35px -17px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 35px -17px rgba(0, 0, 0, 0.75);
  padding: 6%;
}

.join-program-title{
  border-bottom: 3px solid var(--main-blue-color);
  width: fit-content;
  text-align: center;
  margin: 0 auto;
}

.join-section-title{
  color: var(--main-blue-color);
  font-weight: bolder;
  padding-bottom: 2%;
  font-size: 1.4em;
}

.join-section-container {
  border-bottom: 1px solid rgb(228, 228, 228);
  margin: 3% 0 0% 0%;
  padding-bottom: 1%;
}

.join-section-container:nth-of-type(1) {
  margin-top: 10%;
}

.join-section-container:nth-of-type(4) {
  border-bottom: none;
}

.join-program-button {
  background-color: white;
  color: black;
  border: 1px solid var(--main-blue-color);
  font-weight: 300;
  padding: 5px 10px 5px 10px;
  margin: 0% 20px 0 0;
  border-radius: 2px;
  font-size: 0.9em;
}

.join-program-button:hover {
  border: 1px solid var(--main-blue-color);
  color: var(--main-blue-color);
  font-weight: bolder;
  margin: 0% 18px 0 0;
}

.join-program-button:focus {
  outline: 0;
}

.join-program-button.active{
  border: 1px solid var(--main-blue-color);
  color: white;
  background-color:var(--main-blue-color);
  margin: 0% 18px 0 0;
}

.join-payment-container {
  border-bottom: 1px solid rgb(228, 228, 228);
}

/* ========================== */
/*      TRANSACTIONDETAIL     */
/* ========================== */

.total-payment {
  font-size: 1.5em;
  color: var(--main-green-color);
  font-weight: bolder;
}

.payment-account-container {
  background-color: #3797a41a;
  width: fit-content;
  padding: 2%;
}

.payment-container li {
  margin-bottom: 2%;
}

.payment-line {
  border-bottom: 1px solid rgb(175, 175, 175);
  height: 1px;
  width: 97%;
}

.upload-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-width: 2px;
  border-radius: 2px;
  border-color: var(--main-green-color);
  border-style: dashed;
  background-color: #fafafa;
  color: #bdbdbd;
  outline: none;
  transition: border 0.24s ease-in-out;
}

/* ========================== */
/*      SUCCESS ANIMATION     */
/* ========================== */

.success-checkmark {
  width: 80px;
  height: 115px;
  margin: 0 auto;
}
.success-checkmark .check-icon {
  width: 80px;
  height: 80px;
  position: relative;
  border-radius: 50%;
  box-sizing: content-box;
  border: 4px solid #4caf50;
}
.success-checkmark .check-icon::before {
  top: 3px;
  left: -2px;
  width: 30px;
  transform-origin: 100% 50%;
  border-radius: 100px 0 0 100px;
}
.success-checkmark .check-icon::after {
  top: 0;
  left: 30px;
  width: 60px;
  transform-origin: 0 50%;
  border-radius: 0 100px 100px 0;
  animation: rotate-circle 4.25s ease-in;
}
.success-checkmark .check-icon::before, .success-checkmark .check-icon::after {
  content: "";
  height: 100px;
  position: absolute;
  background: #ffffff;
  transform: rotate(-45deg);
}
.success-checkmark .check-icon .icon-line {
  height: 5px;
  background-color: #4caf50;
  display: block;
  border-radius: 2px;
  position: absolute;
  z-index: 10;
}
.success-checkmark .check-icon .icon-line.line-tip {
  top: 46px;
  left: 14px;
  width: 25px;
  transform: rotate(45deg);
  animation: icon-line-tip 0.75s;
}
.success-checkmark .check-icon .icon-line.line-long {
  top: 38px;
  right: 8px;
  width: 47px;
  transform: rotate(-45deg);
  animation: icon-line-long 0.75s;
}
.success-checkmark .check-icon .icon-circle {
  top: -4px;
  left: -4px;
  z-index: 10;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  box-sizing: content-box;
  border: 4px solid rgba(76, 175, 80, 0.5);
}
.success-checkmark .check-icon .icon-fix {
  top: 8px;
  width: 5px;
  left: 26px;
  z-index: 1;
  height: 85px;
  position: absolute;
  transform: rotate(-45deg);
  background-color: #ffffff;
}

@keyframes rotate-circle {
  0% {
    transform: rotate(-45deg);
  }
  5% {
    transform: rotate(-45deg);
  }
  12% {
    transform: rotate(-405deg);
  }
  100% {
    transform: rotate(-405deg);
  }
}
@keyframes icon-line-tip {
  0% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  54% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  70% {
    width: 50px;
    left: -8px;
    top: 37px;
  }
  84% {
    width: 17px;
    left: 21px;
    top: 48px;
  }
  100% {
    width: 25px;
    left: 14px;
    top: 45px;
  }
}
@keyframes icon-line-long {
  0% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  65% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  84% {
    width: 55px;
    right: 0px;
    top: 35px;
  }
  100% {
    width: 47px;
    right: 8px;
    top: 38px;
  }
}


/* ================ */
/*      NOTFOUND    */
/* ================ */

#notfound {
  position: relative;
  height: 100vh;
  background: #030005;
}

#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.notfound {
  max-width: 767px;
  width: 100%;
  line-height: 1.4;
  text-align: center;
}

.notfound .notfound-404 {
  position: relative;
  height: 180px;
  margin-bottom: 20px;
  z-index: -1;
}

.notfound .notfound-404 h1 {
  font-family: "Montserrat", sans-serif;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 224px;
  font-weight: 900;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: -12px;
  color: #030005;
  text-transform: uppercase;
  text-shadow: -1px -1px 0px #8400ff, 1px 1px 0px #ff005a;
  letter-spacing: -20px;
}

.notfound .notfound-404 h2 {
  font-family: "Montserrat", sans-serif;
  position: absolute;
  left: 0;
  right: 0;
  top: 110px;
  font-size: 42px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 0px 2px 0px #8400ff;
  letter-spacing: 13px;
  margin: 0;
}

.notfound-link {
  font-family: "Montserrat", sans-serif;
  display: inline-block;
  text-transform: uppercase;
  color: #ff005a;
  text-decoration: none;
  border: 2px solid;
  background: transparent;
  padding: 10px 40px;
  font-size: 14px;
  font-weight: 700;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.notfound-link:hover {
  color: #8400ff;
}

@media only screen and (max-width: 767px) {
  .notfound .notfound-404 h2 {
    font-size: 24px;
  }
}

@media only screen and (max-width: 480px) {
  .notfound .notfound-404 h1 {
    font-size: 182px;
  }
}
/* Search Input CSS */
.active-pink-4 input[type="text"]:focus:not([readonly]) {
  border: 1px solid #3797a4;
  box-shadow: 0 0 0 1px #3797a4;
}
.active-pink-3 input[type="text"] {
  border: 1px solid #3797a4;
  box-shadow: 0 0 0 1px #3797a4;
}

/* PAGINATION COLOR */
.color_pagination {
  color: white !important;
  background-color: green;
  font-size: 30px;
  /* width: 100px; */
  margin-right: 2px;
  width: 140px;
  border: 1px solid black;
}

/* FONTS */
@font-face {
  font-family: "sanfransisco";
  src: url("./fonts/SFProDisplay-Regular.ttf") format("truetype");
  font-family: "sanfransiscobold";
  src: url("./fonts/SFProText-Bold.ttf") format("truetype");
}

/* BUTTON MANAGE TRANSAKSI */
.manage_transaksi_button {
  font-family: "sanfransiscobold";
  font-size: 18px;
  text-decoration: none;
}
.manage_transaksi_button:hover {
  cursor: pointer;
  border-bottom: var(--main-tosca-color) 1.2px solid;
  transition: 400ms;
  color: #9ac84a;
}
