

.manageprogram-container{
    width: 100%;
    height: 100%;
}

.manageprogram-title{
    padding-top: 80px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-family: "sanfransiscobold";
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color: #9ac84a;
}